<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>NewLife Hospital Management</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<h1>NewLife Hospital Management home page</h1>
		<h3><a th:href="@{/patients}">List of Patients</a></h3>
		<h3><a th:href="@{/register}">Register New Patient</a></h3>
		<h3><a th:href="@{/login}">Login Old Patient</a></h3>
	</div>
	
</body>
</html>